[Desktop Entry]
Name=Fprint Extension
Comment=GUI for fprintd fingerprint enrolling
Type=Application
Icon=fi.joonastuomi.CosmicFprint
Exec=cosmic-ext-fprint %F
Terminal=false
StartupNotify=true
Categories=Utility;System;
Keywords=Fingerprint;Security;
MimeType=
