name: Flatpak Build

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  flatpak:
    runs-on: ubuntu-latest
    container:
      image: bilelmoussaoui/flatpak-github-actions:freedesktop-24.08
      options: --privileged

    steps:
      - uses: actions/checkout@v4

      - name: Build Flatpak
        uses: flatpak/flatpak-github-actions/flatpak-builder@v6
        with:
          bundle: cosmic-fprint.flatpak
          manifest-path: flatpak/fi.joonastuomi.CosmicFprint.yml
          cache-key: flatpak-builder-${{ github.sha }}
